{% extends "base.html" %}

{% block title %}
    {{ todo_list.name }}
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                {% for item in  todo_list.items.all %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
